@tailwind base;
@tailwind components;
@tailwind utilities;

.select-wrapper {
  position: relative;
}
.select-wrapper::after {
  position: absolute;
  content: "\f0d7";
  font-family: "FontAwesome";
  top: 10px;
  right: 15px;
  cursor: pointer;
  pointer-events: none;
  z-index: 1;
}
